// If you edit this file you need to compile the theme. See README.md for details.
// Global variable overrides. Must be declared before importing Valo.
// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;
// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;
// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;
// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;
// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;
// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples
@import "../valo/valo.scss";

@mixin mytheme {
  @include valo;

  //Insert your own theme rules here
  .ic-background {
    background-image: url("sarma.jpg");
    background-size: cover;
  }
  .ic-login-panel {
    border: #cecece solid 2px;
    padding: 5px;
    background-color: #ffffff;
    opacity: 1.0; /* Полупрозрачный фон */
  }

  .ic-panelcaption-off {

    font-size: 0.8rem;
    color: #7f7f7f;
  }
  .ic-panelcaption-on {

    font-size: 0.8rem;
    color: #077f61;
  }
  .ic-hoveronpanel:hover {
    cursor: pointer;
  }
  .ic-selector-unactive {
    border: white solid thin;
  }
  .ic-selector-active {
    border: darkslategray solid thin;
  }
  .ic-grid2 {
    font: 500 10px "Open Sans", sans-serif;
    color: rgb(98, 98, 98);
    --divider-color: rgb(223, 232, 239);

    --vaadin-grid-cell: {
      padding: 0 2px;
    }
  ;

    --vaadin-grid-body-cell: {
      height: 36px;
    }
  ;

    --vaadin-grid-header-cell: {
      background: rgba(235, 238, 246, 0.9);
      border-bottom: 1px solid rgba(208, 217, 225, 0.9);
      border-top: 1px solid rgba(248, 250, 252, 0.9);
      min-height: 35px;

      background-image: linear-gradient(rgba(108, 160, 218, 0), rgba(108, 160, 218, 0.15));
      background-size: 1px 100%;
      background-position: 100% 0%;
      background-repeat: no-repeat;
    }
  ;

    --vaadin-grid-body-row-selected-cell: {
      background-color: rgb(131, 183, 236);
      color: #fff;
      border-bottom-color: rgb(108, 160, 218);
    }
  ;

    --vaadin-grid-body-row-odd-cell: {
      background-color: rgb(251, 252, 254);
    }
  ;

    --vaadin-grid-body-row-hover-cell: {
      background-color: rgb(235, 238, 246);
    }
  ;

    --vaadin-grid-body-row-details-cell: {
      text-align: center;
    }
  ;
  }

}
